---
import MainLayout from "../layouts/MainLayout.astro";
import Bliv from "../components/Bliv.astro";
import AndreStot from "../components/AndreStot.astro";
import AndreStot2 from "../components/AndreStot2.astro";
import Button from "../components/Button.astro"
---
<MainLayout>

<!-- Headerbillede + Overskrift -->

<section class="relative bg-cover bg-center h-screen md:h-[80vh]" style="background-image: url('/hero.jpg');">
  <div class="absolute inset-0 flex flex-col items-center text-center text-white bg-black bg-opacity-50 pt-32 md:pt-48">
    <h1 class="font-bold font-Lato text-xl sm:text-3xl lg:text-5xl pb-3">Vær med til at skabe Grøn Forandring</h1>
    <h3 class="text-base font-extralight md:text-2xl mb-6 mx-8">Naturen og klimaet er under pres, men sammen kan vi stadig nå at vende udviklingen. <br> Bliv medlem eller giv et bidrag og vær med til at skabe grøn forandring nu!</h3>
  </div>
</section>

<!-- Bliv medlem + Støt nu -->

<section class="relative z-10 mx-10 -mt-96 grid grid-cols-1 md:grid-cols-2 gap-6 bg-opacity-90 md:-mt-40 md:gap-0 md:mx-64">
    <Bliv header="Bliv Medlem" text="Bliv medlem og skab grøn forandring for et valgfrit beløb. Du får adgang til alle grønne medlemsfordele."></Bliv>
    <Bliv header="Støt Nu" text="Vores danske natur er hårdt presset. Giv naturen en gave fra dig. Du vælger selv, hvor meget du vil donere."></Bliv>
</section>

<!-- Andre måder at støtte på -->

<section class="pt-20 md:pt-32 md:pb-8">
  <h2 class="text-2xl font-bold md:text-3xl mb-2 mx-8 text-center">Andre Måder at Støtte Vores Sag</h2>
  <h3 class="text-base md:text-2xl mb-6 mx-8 text-center">Find den støtteform, der passer bedst til dig, og vær med til at bevare Danmarks natur.</h3>
</section>

<!-- Grid 2cols + 1cols -->

<section class="mx-10 grid grid-cols-1 md:grid-cols-2 gap-6 md:mx-32 md:gap-10">
<AndreStot header="Giv et Medlemskab i Gave" text="Giv et års medlemskab i gave og få et flot gavebevis og en billet til en unik naturoplevelse for hele familien. Gaven giver også adgang til alle vores grønne fordele.">
	<img src="/giv_medlemskab.jpg" alt="giv_medlemskab">
</AndreStot>
<AndreStot header="Giv en Mindegave" text="I anledning af bisættelse eller begravelse kan en mindegave til Danmarks Naturfredningsforening være en smuk måde at sige farvel.">
	<img src="/giv_medlemskab.jpg" alt="giv_medlemskab">
</AndreStot>
<AndreStot header="Særlige Mærkedage" text="Har du fødselsdag, skal du giftes eller sker der noget andet skønt i dit liv? Gør begivenheden grøn ved at bede dine gæster give naturen en gave.">
	<img src="/giv_medlemskab.jpg" alt="giv_medlemskab">
</AndreStot>
<AndreStot header="Testamente & Arv" text="Når du betænker naturen i dit testamente, får du flere fordele. Du kan spare dine arvinger for afgift, få gratis advokatrådgivning samt 5.000 kroner i tilskud til oprettelse af dit testamente.">
	<img src="/giv_medlemskab.jpg" alt="giv_medlemskab">
</AndreStot>
</section>

<section class="mx-10 md:mx-32 pt-6 md:pt-10 pb-20">
<AndreStot2 header="Naturstøtte for Virksomheder" text="Støt Danmarks Naturfredningsforening og få CSR-værdi tilbage til jeres virksomhed. Som Naturdonor støtter I vores arbejde for naturen, miljøet og klimaet.">
	<img src="/virksomhed.jpg" alt="giv_medlemskab">
</AndreStot2>
</section>

</MainLayout>