---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
---
<MainLayout title="Om os">

    <section class="relative w-full h-full">
        <img src="/public/coveromos.png" alt="coverbillede" class="w-full h-auto">
        <div class="absolute inset-0 flex flex-col justify-center items-center text-center text-white p-4">
            <h1 class="font-bold font-Lato text-xl sm:text-3xl lg:text-5xl">Vi er Danmarks største grønne medlemsorganisation</h1>
            <h3 class="font-Lato text-lg sm:text-2xl lg:text-3xl mt-4">Vi arbejder for en rigere natur, et rent miljø og en bæredygtig fremtid</h3>
        </div>
    </section>


    <section>
    <div class="m-20">
        <div class="flex flex-col md:flex-row-reverse bg-lysebrun50 p-4 rounded-lg">
        <img src="/public/omos.png" alt="blomstogflue" class="w-96 h-96 object-cover rounded-lg mt-4 md:mt-0">
           
        <div class="md:ml-4">
                <h2 class="font-bold text-left font-Lato">Danmarks Naturfredningsforening er en forening</h2>
                <p class="mt-2 text-left font-Lato">Danmarks Naturfredningsforening er en medlemsbaseret organisation, hvor medlemmerne er vores største styrke. Som medlem bliver man en del af et fællesskab, der arbejder for at beskytte natur og miljø for nuværende og kommende generationer. Vi er bygget på medlemsdemokrati, hvilket betyder, at alle medlemmer har stemmeret og kan stille op til valg til vores øverste myndighed, repræsentantskabet. Repræsentantskabet vælger vores hovedbestyrelse (HB), som ansætter direktionen. Vores organisation er struktureret, så de forskellige dele arbejder sammen effektivt for at opnå resultater for naturen og miljøet. Vi vedtog i 2021 en ny strategi, der styrer vores arbejde frem mod 2026, og vores vedtægter og forretningsordener sikrer en demokratisk og effektiv funktion. Over 1500 frivillige bidrager til vores arbejde på lokalt, regionalt, nationalt og internationalt niveau.</p>
        </div>
    </div>
    </section>

    <section>
        <div class=" bg-[#FAF9F5]">
        <div class="flex flex-col md:flex-row items-center p-20 ">
            <img src="/public/omos2.png" alt="vores historie" class="w-full md:w-1/2 h-auto object-cover">
            <div class="flex-1 md:ml-4 mt-4 md:mt-0">
                <h2 class="font-bold text-center font-Lato">Vores historie</h2>
                <p class="mt-2 text-center font-Lato">Om aftenen den 21. april 1911 mødtes en gruppe mænd fra det bedre borgerskab på Palace Hotel i København, indkaldt af turistformand Viggo Falbe-Hansen, for at danne Foreningen for Naturfredning. Foreningens vision var at bevare dansk natur og sikre befolkningens adgang til den, hvilket adskilte sig fra andre grupper, der frede naturen for naturens egen skyld. Første formand var Alfred Hage, en friluftsentusiast og tidligere landbrugsminister. I 1912 lancerede foreningen sin første affaldskampagne med mottoet "Krig for Skovenes Renligholdelse", og modtog over 20.000 besvarelser i en verskonkurrence om affald, med det vindende vers: </p>
            </div>
        </div>
        </div>
    </section>

    <section>
        <div class="quote -z-20">
        <div class=" bg-lysegrøn700 pt-20 pb-20 mx-auto px-5 md:px-0 -z-20">
        <p class=" px-16 text-white font-Lato font-light text-center text-2xl leading-relaxed sm:text-2xl md:text-4xl lg:text-5xl sm:leading-loose md:leading-loose lg:leading-loose">
        <span class="font-bold font-Lato text-9xl text-center">"</span>Madpapir og æggeskaller pynter ej i skovens haller”</p>
        </div>
        </div>
    </section>

    <section class="mb-20">
        <div class="pt-5 lg:text-center text-black lg:text-xl lg:pt-20 px-5 lg:px-20">
            <h2 class="font-bold font-Lato mb-2 text-center">Vores resultater</h2>
            <p class="font-Lato mb-5 text-center">Danmarks Naturfredningsforening opnår løbende mål, som både har betydning lokalt og nationalt.</p>
        </div>

      <div class="p-4 flex justify-center font-Lato">
    <div class="grid gap-4 md:grid-cols-5">
        <div class="bg-lysebrun50 p-4 w-64 h-80 rounded-lg">
            <h4 class="font-bold text-center mt-5">Lokale sager</h2>
            <p class="mt-5 text-center">Hvert år gennemgår vores lokale frivillige omkring 15.000 myndighedsafgørelser. I 2018 sendte vi klager til Natur- og miljøklagenævnene i 170 af sagerne, og af dem vandt vi ca. 85 procent.</p>
        </div>
        <div class="bg-lysebrun50 p-4 w-64 h-80 rounded-lg">
            <h4 class="font-bold text-center mt-5">Fredninger</h2>
            <p class="mt-5 text-center">Med vores fredningsarbejde er vi med til at sikre naturværdier for eftertiden. Vi rejser 4-5 nye fredningssager om året.</p>
        </div>
        <div class="bg-lysebrun50 p-4 w-64 h-80 rounded-lg">
            <h4 class="font-bold text-center mt-5">Politisk lobbyarbejde</h2>
            <p class="mt-5 text-center">Vi forhindrer forringelser af natur- og miljølovgivningen gennem politisk lobbyarbejde.</p>
        </div>
        <div class="bg-lysebrun50 p-4 w-64 h-80 rounded-lg">
            <h4 class="font-bold text-center mt-5">Kampagner</h2>
            <p class="mt-5 text-center">Gennem slagkraftige kampagner skaber vi folkelig bevidsthed om blandt andet biodiversitet, sprøjtegift og klima.</p>
        </div>
        <div class="bg-lysebrun50 p-4 w-64 h-80 rounded-lg">
            <h4 class="font-bold text-center mt-5">Medlemmer</h2>
            <p class="mt-5 text-center">Vi har en sund økonomi og et stigende medlemstal med omkring 135.000 medlemmer.</p>
        </div>
        </div>
    </section>

    <section class="bg-[#FAF9F5] pb-10">
        <div class="lg:text-center text-black font-Lato lg:text-xl lg:pt-20 px-5 lg:px-20">
            <h2 class="font-bold mb-20 text-center">Historiske resultater</h2>
        </div>

            <div class="space-y-4 m-20 ">
                <div class="flex flex-col md:flex-row items-center p-4 bg-lysebrun50 rounded-lg">
                    <div class="flex-1">
                        <h2 class="font-bold text-left">1940: Fredning af Skagens Gren</h2>
                        <p class="mt-5 text-left">En af landets mest besøgte naturattraktioner blev fredet efter, at det i 1936 kom frem, at der skulle bygges 1000 sommerhuse på Grenen. Der var ikke penge i statskassen til en fredning, så DN tog initiativ til en landsindsamling og fik i 1940 penge nok til at frede 262 ha. Siden er et større område fredet.</p>
                    </div>
                    <img src="/public/1940.png" alt="1940" class="object-cover ml-0 md:ml-4 mt-4 md:mt-0">
                </div>

                <div class="flex flex-col md:flex-row items-center p-4 bg-lysebrun50 rounded-lg">
                    <div class="flex-1">
                        <h2 class="font-bold text-left">1983: Fredning af Høje Møn og Møns Klint</h2>
                        <p class="mt-5 text-left">Måske Danmarks smukkeste og mest særprægede naturområder Høje Møn og Møns Klint besøges årligt af mere end 200.000 mennesker. Høje Møn består i stor udstrækning af kridt, som blev skubbet op af isen hen imod sidste istids slutning for 16-17.000 år siden. Klinten og Høje Møn blev fredet i 1983.</p>
                    </div>
                    <img src="/public/1983.png" alt="1983" class="object-cover ml-0 md:ml-4 mt-4 md:mt-0">
                </div>

                <div class="flex flex-col md:flex-row items-center p-4 bg-lysebrun50 rounded-lg">
                    <div class="flex-1">
                        <h2 class="font-bold text-left">1992: Fredning af Vestamager</h2>
                        <p class="mt-5 text-left">Som noget helt enestående for en hovedstad ligger der få kilometer fra Rådhuspladsen i København et storslået naturområde med et væld af sjældne fugle og planter og masser af åben himmel - med udsigt til byens skyline.</p>
                    </div>
                    <img src="/public/1992.png" alt="1992" class="object-cover ml-0 md:ml-4 mt-4 md:mt-0">
                </div>

                <div class="flex flex-col md:flex-row items-center p-4 bg-lysebrun50 rounded-lg">
                    <div class="flex-1">
                        <h2 class="font-bold text-left">2011: Fredning af Madsebakke</h2>
                        <p class="mt-5 text-left">Ved Bornholms nordspids, mellem Hammershus og Allinge-Sandvig, ligger et enestående område med helleristninger. Det er et af Nordens vigtigste områder med helleristninger fra bronzealderen, og et vigtigt kultsted for vores forfædre. Det botanisk værdifulde landskab omkring helleristningerne, er fredet i flere omgange så det samlede fredede område i dag omfatter over 200 ha.</p>
                    </div>
                    <img src="/public/2011.png" alt="2011" class="object-cover ml-0 md:ml-4 mt-4 md:mt-0">
                </div>

                <div class="flex flex-col md:flex-row items-center p-4 bg-lysebrun50 rounded-lg">
                    <div class="flex-1">
                        <h2 class="font-bold text-left">2013: Fredning af Brorfelde</h2>
                        <p class="mt-5 text-left">Brorfelde Observatorium ligger på i et smukt og stærkt kuperet landskab på toppen af en bakke. Og det er et af de mørkeste steder i Danmark. Derfor var det i årevis ideelt som observatorium for Københavns Universitets forskere, når universets mysterier skulle udforskes. Senere var det feltstation for de studerende. Fredningen sikrede at stedet i dag er oplevelsescenter med fokus på astronomi, geologi, natur og teknik.</p>
                    </div>
                    <img src="/public/2013.png" alt="2013" class="object-cover ml-0 md:ml-4 mt-4 md:mt-0">
                </div>
            </div>
    </section>

</MainLayout>