---
import MainLayout from "../layouts/MainLayout.astro";
import Medlemsfordele from '../components/Medlemsfordele.astro';
import Quote from '../components/Quote.astro';
import Voreshistorie from "../components/Voreshistorie.astro";
import Historiskeresultater from "../components/Historiskeresultater.astro";
import Voresresultater from "../components/Voresresultater.astro"
---


<MainLayout title="Om os">

    <section class="relative w-full h-full">
        <img src="/public/coveromos.png" alt="coverbillede" class="w-full h-auto">
        <div class="absolute inset-0 flex flex-col justify-center items-center text-center text-white p-4">
            <h1 class="font-bold font-Lato text-xl sm:text-3xl lg:text-5xl">Vi er Danmarks største grønne medlemsorganisation</h1>
            <h3 class="font-Lato text-lg sm:text-2xl lg:text-3xl mt-4">Vi arbejder for en rigere natur, et rent miljø og en bæredygtig fremtid</h3>
        </div>
    </section>

    <section class="mt-20 mb-20">
        <div class="max-w-5xl mx-auto bg-lysebrun50 rounded-lg overflow-hidden flex flex-col md:flex-row">
            <div class="w-full md:w-2/3 p-6">
                <h2 class="font-bold text-left font-Lato">Danmarks Naturfredningsforening er en forening</h2>
                <p class="mt-2 text-left font-Lato">Danmarks Naturfredningsforening er en medlemsbaseret organisation, hvor medlemmerne er vores største styrke. Som medlem bliver man en del af et fællesskab, der arbejder for at beskytte natur og miljø for nuværende og kommende generationer. Vi er bygget på medlemsdemokrati, hvilket betyder, at alle medlemmer har stemmeret og kan stille op til valg til vores øverste myndighed, repræsentantskabet. Repræsentantskabet vælger vores hovedbestyrelse (HB), som ansætter direktionen. Vores organisation er struktureret, så de forskellige dele arbejder sammen effektivt for at opnå resultater for naturen og miljøet. Vi vedtog i 2021 en ny strategi, der styrer vores arbejde frem mod 2026, og vores vedtægter og forretningsordener sikrer en demokratisk og effektiv funktion. Over 1500 frivillige bidrager til vores arbejde på lokalt, regionalt, nationalt og internationalt niveau.</p>
            </div>
            <div class="w-full md:w-1/3">
                <img src="/public/omos.png" alt="Nature Image" class="object-cover h-full w-full">
            </div>
         </div>
     </section>

    <Voreshistorie></Voreshistorie>
    
    <Quote></Quote>

    <Voresresultater></Voresresultater>

    <Historiskeresultater></Historiskeresultater>

    <Medlemsfordele></Medlemsfordele>

</MainLayout>



