---
import MainLayout from "../layouts/MainLayout.astro";
import NaturalForm from "../components/NaturalForm.astro"
---
<MainLayout>
<section class="md:grid grid-cols-2 bg-teal-700 px-10">
<section class="pb-10 pt-20">
<NaturalForm></NaturalForm>
</section>

<section class="md:pt-20 md:mx-5 text-white">
    <h1 class="text-2xl md:text-4xl mb-6">Giv et bidrag til en grønnere natur</h1>

    <div>
        <h3 class="text-lg md:text-2xl mb-2 pt-6">
            Det går din støtte til
        </h3>
    </div>

    <div class="pb-10 md:mr-20">
        <h4 class="font-bold">Skab mere plads til naturen</h4>
        <p>Vi hjælper danskerne og virksomheder med at slippe naturen fri på egne områder. På den måde skaber vi sammen bedre biodiversitet og levevilkår for truede arter over hele landet.</p>
    </div>

    <div class="pb-10 md:mr-20">
        <h4 class="font-bold">Beskyt naturperler for eftertiden</h4>
        <p>Vi arbejder lokalt for at forhindre forringelse af biodiversiteten og er den eneste forening i Danmark, der kan rejse fredningssager og sikre vores unikke natur til fremtidens generationer.</p>
    </div>

    <div class="pb-10 md:mr-20">
        <h4 class="font-bold">Gør den politiske dagsorden grøn</h4>
        <p>Med danskernes og vores medlemmers opbakning taler vi naturens, miljøets og klimaets sag på Christiansborg og lægger et hårdt pres på politikerne for handling og grøn forandring.</p>
    </div>
</section>
</section>
</MainLayout>