---
import Bliv_aktiv from "../components/Bliv_aktiv.astro";
---
<section>
<img src="hero_unit" alt="hero_unit">
<div>
    <h1>Vær med til at skabe Grøn Forandring</h1>
    <h3>Naturen og klimaet er under pres, men sammen kan vi stadig nå at vende udviklingen. Bliv medlem eller giv et bidrag og vær med til at skabe grøn forandring nu!</h3>
</div>
</section>

<section class="grid grid-cols-2">
 <div>  <Bliv_aktiv header="Bliv Medlem" text="Bliv medlem og skab grøn forandring for et valgfrtit beløb. Du får adgang til alle grønne medlemsfordele."></Bliv_aktiv></div> 
  <div>  <Bliv_aktiv header="Støt Nu" text="Her kan du give naturen og klimaet et bidrag"></Bliv_aktiv></div>
</section>

<section>

</section>




   