---
const header = Astro.props.header
const text = Astro.props.text
import Button from "../components/Button.astro"
---
<article class="bg-lysegrøn300 p-7 rounded-lg w-[400px] h-[300px] md:w-[440px] md:h-[340px] mx-auto md:pt-10">
<h3 class="text-lg font-bold pb-3 md:text-2xl font-lato">{header}</h3>
<h4 class="text-sm pb-3 md:text-base">{text}</h4>
</article>

