---
---
<header >
  <div>
    <a href="/"><img id="logo" src="/img/logo_hjem_sort.svg" alt="logo" /></a>
  </div>
  <nav>
    <ul class="menu">
      <li><a href="/omos/">Om os</a></li>



    </ul>
  </nav>
</header>

