---
import Button from './Button.astro';
---

<section class="bg-grøn100 p-6">
        <div class="font-Lato text-lyseblå800 text-left mb-20 mt-10 ml-10">
            <h3 class="text-2xl">Som Medlem får du flere</h3>
            <h2 class="text-3xl pt-2">Grønne Fordele</h2>
        </div>
        
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 text-center">
            <div>
                <img src="/public/tree.svg" alt="træ icon" class="mx-auto mb-4">
                <h4 class="text-xl font-bold">Bliv guidet i naturen</h4>
                <p class="mt-2">Adgang til over 1.000 gratis ture ud i den danske natur <br> - hvert år og i hele landet.</p>
            </div>
            <div>
                <img src="/public/shopping.svg" alt="shopping icon" class="mx-auto mb-4">
                <h4 class="text-xl font-bold">Gode rabatter</h4>
                <p class="mt-2">Bl.a. medlemsrabat i vores webshop <br> på lækre og miljøvenlige produkter.</p>
            </div>
            <div>
                <img src="/public/newspaper.svg" alt="newspaper icon" class="mx-auto mb-4">
                <h4 class="text-xl font-bold">Masser af viden og inspiration</h4>
                <p class="mt-2">Danmarks største naturmagasin, Natur & Miljø, <br> tilsendt fire gange om året.</p>
            </div>
        </div>
        
        <div class="mt-20 text-center">
              <a href="#"><Button variant="" size="">Bliv aktiv nu</Button></a>
        </div>
    </section>